<footer>
    <section class="row justify-content-center align-items-center py-5">
        <a href="https://simplon.co/" target="_blank" class="btn-footer m-2 p-2">Simplon.co</a>
        {# link to the website simplon.co #}
        <a href="https://simplonline.co/contact" target="_blank" class="btn-footer m-2 p-2">Contact</a>
        {# link to page contact #}
        <a href="https://simplonline.co/cgu" target="_blank" class="btn-footer m-2 p-2">Conditions générales d'utlisation</a>
        {# link to page condition générale d'utilisation #}
        <a href="https://simplonline.co/mentions-legales" target="_blank" class="btn-footer m-2 p-2">Mentions légales</a>
        {# link to page mentions-legales #}
        <a href="https://simplonopensource.surge.sh/#/" target="_blank" class="btn-footer m-2 p-2">SimplonOpenSource</a>
        {# link to page simplonopensource.surge.sh/#/ #}
    </section>
</footer>
