
<div class="col-2 align-self-end p-2" id="Inscript">
    <div class="text-right mr-2 " id="BtnInscript" >
      <a href="{{ path('candidacy') }}">  <button class="btn btn-block btn-light" title="Formulaire en plusieurs étapes, temps approximatif : 20 min.">Je veux devenir Dév. Web !</button></a>
      <p></p>
  </div>
</div>
