{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block body %}

    {% include 'home/_callToAct.html.twig' %}
    {#  jumbotron #}
    <div class="mx-3">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% include 'headers/_jumbo.html.twig' with {jumboTitle:'Développeur Web et Web Mobile ',jumboText:"Ecole Régionale du Numérique Carcassonne"} %}
    <div class="col-12 text-center">
        <p class="">
            Cela se passe ici
        </p>
    </div>
    <div class=" text-center">
        <i class="fa fa-arrow-down fa-2x"></i>
        <div class="mb-1" id="leafletmap"></div>
    </div>
    <section class="container">
        <section class="row align-items-center justify-content-center  my-3 py-3 wrap">
            <div class="col-12 text-center" data-aos-duration="3100" data-aos="fade-right">
                <a href="{{ path('candidacy') }}">
                    <button class="btn btn-block bg-red mb-2" id="BtnToForm">Je veux en faire partie !</button>
                </a>
                <p class="">
                    Combien de temps ? quand ?
                </p>
                <i class="fa fa-arrow-down fa-2x"></i>

                <h2 class=" text-black">
                    11 mois de formation qualifiante Niveau III  !
                </h2>

                <p class="lead ">du 14 octobre 2019 au 22 Septembre 2020</p>
            </div>
        </section>
        <section class="container">
            <div class="row align-items-center justify-content-center  my-5 py-5" data-aos-anchor-placement="top-center" data-aos="fade-down">
                <div class="col-lg-6 mbr-col-md-10 mt-2">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-volume-up fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Programme
                                <span></span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">
                                Formation basée sur la pédagogie active !</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10 mt-2">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-calendar fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Checkez
                                <span>nos dates de formations</span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">
                                Vérifiez les autres formations dans les autres fabriques de la région</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10" data-aos-anchor-placement="top-center" data-aos="fade-down">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-globe fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Phase d'acquisition des connaissances
                                <span></span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">
                                Maquetter une application<br>
                                Développer une interface web et web mobile en responsive design<br>
                                Déployer un projet web en lien avec une base de données
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mbr-col-md-10" data-aos-anchor-placement="top-center" data-aos="fade-up">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-trophy fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Des projets
                                <span>autour des entreprises</span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">
                                Réaliser des projets pédagogiques professionnels<br>
                                <br>
                                Suivre des interventions d'acteurs du web<br>
                                <br>
                                Une période de formation en entreprise
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container" data-aos-duration="2000" data-aos="fade-down">
            <section class="row align-items-center justify-content-center my-3 py-3 wrap">
                <div class="col-12  mb-2 text-center">
                    <span class="h2 text-black">
                        Comment s'inscrire ?
                    </span>
                </div>
                <section class="row align-items-center justify-content-center  my-3 py-3">
                   <div class="col-lg-4 col-md-8 text-center">
                        <p class="number">
                            1
                        </p>
                        <p class="h4 text-black line">
                            Badges Sololearn<br></p>
                        <p class="h6 text-black">
                            25 leçons<strong>
                                HTML</strong><br>
                            25 leçons
                            <strong>CSS</strong>
                            <br>
                            29 leçons
                            <strong>JavaScript</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-8 text-center mt-3">
                        <p class="number">
                            2
                        </p>
                        <p class="h4 text-black line">
                            Dépôt des candidatures<br></p>
                        <p class="h6 text-black">
                            <a href="{{ path('candidacy') }}">
                                <button class="btn btn-block btn-light" title="Formulaire en plusieurs étapes, temps approximatif : 20 min.">Je veux devenir Dév. Web !</button>
                            </a>
                        </p>
                        <br>
                    </div>
                    <div class="col-lg-4 col-md-8 mb-2 text-center">
                        <p class="number">
                            3
                        </p>
                        <p class="h4 text-black line">
                            Journée de sélection<br></p>
                        <p class="h6 text-black">
                            <strong>Jeudi</strong>
                            6 septembre 2019<br>
                            <strong>Kappa[R] - Tiers lieu de formation</strong>
                        </p>
                    </div>
                </section>
            </section>
        </section>
        {% include 'footers/_mainfooter.html.twig' %}
{# call the mainfooter in the footers directory. #}
        {% endblock %}
    {% block javascripts %}
        <script src="js/leaflet.js"></script>
    {% endblock %}
