.test{
    border-bottom: 2px black;
    color: var(--mainred);
}

.MenuBackOffice{
    height:100vh;
}

.blockIconBackOffice{

}

.logoBackOffice img {
    width: 80%;
    height: auto;
}

.logoBackOffice h1 {
    font-family: var(--avenirfont);
    color: var(--mainred);
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.logoBackOffice h2 {
    color: #FFF;
    font-size: 20px;
}

#iconBackOffice {
    display: flex;
    font-size: 10px;
    flex-direction: column;
}

