<h1> Confirmation de traitement de votre candidature</h1>
<div>
    <h2>Votre candidature est validée</h2>

    Suite à votre inscription, pour accéder à la présélection de la <br>
    Formation Développeur.se Web et Web Mobile - Carcassonne, nous vous confirmons que <br>
    votre candidature a bien été prise en compte.
    <br/><br/>
    <strong>Quand saurez-vous si votre candidature est retenue pour la Sélection ?</strong><br/>
    - Le jury étudie votre candidature jusqu'au Lundi 30 Septembre 2019<br/>
    - Ce même jour, à partir de 18h, vous recevrez un second email indiquant le résultat : Admis.e en sélection ou non.<br/>
    - Si votre candidature est retenue, il sera indiqué, dans ce même mail, le lieu et la date de la Sélection
    <br/><br/><br/>

    <strong>Attention !</strong>
    Si votre profil sololearn est bas et que vous êtes retenu.e en Sélection, nous vous conseillons <br>
    de continuer les cours indiqués (HTML, CSS, JS, PHP)<br/>
    <img src="{{ img }}" style="width: 64px">

    <br/><br/>
    --------------- Ceci est un mail automatique, Merci de ne pas y répondre. ------------
</div>