<h1> Vous allez en Sélection !!</h1>
<div>
    <h2>Votre candidature est retenue pour la Sélection</h2>

    Suite à l'étude de votre profil, pour accéder à la Sélection de la <br>
    Formation Développeur.se Web et Web Mobile - Carcassonne, nous vous confirmons que <br>
    votre candidature a bien été retenue.
    <br/><br/>
    <strong>Comment la Sélection va se passer ?</strong><br/>
    - Rendez-vous au 302 Rue Lamarck 11000 Carcassonne : Espace coworking - Kappa'R le Vendredi 04 Octobre 2019
    - Munissez vous de votre carte d'identité et tout autre papier (Pole Emploi, réalisatinos web éventuelles...)
    - Apportez du papier et crayons/stylos<br/>
    - Ce même jour, à partir de 9h, vous passerez individuellement devant chaque Jury.<br/>
    - Un travail de groupe vous sera aussi demandé (toutes les informations seront communiquées le jour même<br>
    - La délibération aura lieu le jour même, et vous serez tenus.es informés.ées sous 48h<br>
    <br/><br/><br/>

    <strong>Attention !</strong>
    Si votre profil sololearn est bas, nous vous conseillons de continuer les cours indiqués (HTML, CSS, JS, PHP)<br/>
    <img src="{{ asset('pics/logoSimplonCarcassonne.png') }}" style="width: 64px">

    <br/><br/><br/><br/><br/>
    ---------------
    Ceci est un mail automatique, Merci de ne pas y répondre.';
</div>