<h1> Candidature non retenue</h1>
<div>
    <h2>Votre candidature n'a pas été retenue pour la Formation</h2>

    Suite à l'étude de votre profil, pour accéder à la Sélection de la <br>
    Formation Développeur.se Web et Web Mobile - Carcassonne, nous vous informons que <br>
    votre candidature n'a pas été retenue.
    <br/><br/>
    <strong>D'autres formations Simplon en Occitanie ?</strong><br/>
    - Cette formation est conçue pour accueillir uniquement 15 places financées par la Région<br/>
    - Nous sommes désolés de ne pas pouvoir envisager votre candidature<br/>
    - Mais avec environ 15 centres en Occitanie, vous pouvez toujours vous présenter sur une autre de nos
    <a href="https://simplon.co/je-candidate/" target="_blank">formations</a>
    <br/><br/><br/>
    <img src="{{img}}" style="width: 64px">
    --------------- Ceci est un mail automatique, Merci de ne pas y répondre. ------------
</div>