<h1> Vous entrez en Formation !!</h1>
<div>
    <h2>Votre candidature est retenue pour la Formation</h2>

    Suite à l'étude de votre profil, pour accéder à la Sélection de la <br>
    Formation Développeur.se Web et Web Mobile - Carcassonne, nous vous informons que <br>
    votre candidature a  été retenue.
    <br/><br/>
    <strong>Quelle suite ?</strong><br/>
    - Rendez-vous au 302 Rue Lamarck 11000 Carcassonne : Espace coworking - Kappa'R le Lundi 14 Octobre 2019<br/>
    - Ce même jour, à 9h, vous êtes attendu pour le démarrage de la formation.<br/>
    <br/><br/><br/>

    <h2>Important !!</h2>
    Il est important de confirmer que vous avez bien reçu ce mail en répondant à ataurisano.ext@simplon.co<br>
    Cela nous permet de savoir que vous comptez bien suivre cette formation !!
    <img src="{{img}}" style="width: 64px">
</div>