<h1> Candidature sur liste d'attente</h1>
<div>
    <h2>Votre candidature est placée sur liste d'attente</h2>

    Suite à l'étude de votre profil, pour accéder à la Sélection de la <br>
    Formation Développeur.se Web et Web Mobile - Carcassonne, nous vous informons que <br>
    votre candidature est sur la liste d'attente.
    <br/><br/>
    <strong>Que faire maintenant ?</strong><br/>
    - Cette formation est conçue pour accueillir uniquement 15 places financées par la Région<br/>
    - Actuellement sur liste d'attente, nous reviendrons vers vous si un désistement a lieu, pour une intégration dans la formation.
    - Dans le cas contraire, sachez que nous sommes désolés de ne pas pouvoir envisager votre candidature<br/>
    - Mais avec environ 15 centres en Occitanie, vous pouvez toujours vous présenter sur une autre de nos
    <a href="https://simplon.co/je-candidate/" target="_blank">formations</a>
    <br/><br/><br/>

    <img src="{{img}}" style="width: 64px">
    --------------- Ceci est un mail automatique, Merci de ne pas y répondre. ------------
</div>